# Python venv
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc

# Environment / secrets
.env

# Jupyter
.ipynb_checkpoints/

# Editors / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Synthea outputs if you keep them here (optional)
output/
